# Dependencies
node_modules
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Next.js
.next/
out/
build
dist

# Turbo
.turbo

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env.development
.env.test

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore

# CI/CD
.github
.gitlab

# Supabase
**/supabase/.branches
**/supabase/.temp

# Cache
.cache
*.cache
.eslintcache
.prettiercache

# Playwright
playwright-report/
test-results/
